{% extends "base-articles.html" %}

{% block content %}
    paginated list by {{ current_per_page_number }}: {{ paginated }}

    {% if current_page_articles %}
        <p>Current page articles: {{ current_page_articles }}</p>
    {% else %}
        <p>Full list of articles</p>
    {% endif %}

    <small> Total pages: {{ total_num }} </small>

    {% include "partials/_avatar.html" %}
    {% with pages=pages  %}
        {% include "partials/_articles.html" %}
    {% endwith %}

{% endblock content %}