<section class="section-articles" id="articles">
  {% for page in pages %}
  <div class="article-container">
    <div class="article-box">
      <div class="article-text">
        <cite><a href="{{ url_for("posts.page", path=page.path) }}">{{ page.title }}</a></cite>
        <p class="article-summary" style="margin: 3rem 0 2rem">{{ page.body }}</p>
        <small>
          <i class="icon-attachment"></i>code
          <i class="icon-clock"></i><time>over 1 year ago</time>
          <i class="icon-bubble hide-m"></i><a href="#" class="hide-m" data-disqus-url="#" data-disqus-identifier="">3</a>
        </small>
        <div class="tag-labels hide-m" style="margin-top: 1rem;">
          <small><i class="icon-price-tags"></i>
          {% if page.meta.tags|length %}
              {% for page_tag in page.meta.tags %}
                  <a href="{{ url_for("posts.tag", tag=page_tag) }}" class="tag-label">{{ page_tag }}</a>
              {% endfor %}
          {% endif %}
          </small>
        </div>
      </div>
      <div class="article-image hide-t">
        {% if page.img %}
            <img src="{{url_for("static", filename='img/'+page.meta.img)}}" class="articles-image" />
        {% endif %}
      </div>
      <a href="{{ url_for("posts.page", path=page.path) }}" class="btn">Read now</a>
    </div>
  </div>
  {% endfor %}
</section>