.bg-peas {
  background: $bg-peas $color-brand;
  background-attachment: fixed;
}
.bg-zigzag {
  background: $bg-zigzag $color-brand;
  background-attachment: fixed;
}
.bg-constellation {
  background: $bg-constellation $color-brand;
  background-attachment: fixed;
}
.bg-waves {
  background: $bg-waves $color-brand;
  background-attachment: fixed;
}

// Mobile first
/* &header-parallax.index */ /* &header-parallax.article */
#header-parallax {
  color: white;
  text-align: center;
  &.index,
  &.article {
    overflow: hidden;
  }
  #header-wrapper {
    padding: 5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &.index,
    &.article {
      position: relative;
    }
    &.index img,
    &.article img.round-article-image {
      display: none;
    }
    #header-body {
      width: 100%;
      h1 {
        max-width: 59.5rem;
        line-height: 1.1;
        font-weight: bold;
        margin: -0.7rem auto 1.8rem;
      }
      p {
        max-width: 50rem;
        line-height: 1.3;
        // border: 1px solid;
      }
      p,
      img.author-avatar {
        margin: 0 auto 3rem;
      }
      &.article {
        img.author-avatar {
          height: 7.4rem;
          width: 7.4rem;
          border-radius: 7.4rem;
          box-sizing: border-box;
          border: 0.5rem solid white;
          box-shadow: $box-shadow;
        }
      }
      span {
        float: left;
      }
      time {
        float: right;
      }
      &.index img,
      &.article img.round-article-image {
        width: 46.8rem;
        height: 46.8rem;
        display: block;
        right: -5.5rem;
        opacity: 0.9;
        bottom: -20rem;
        position: absolute;
      }
    }
  }
}

// @media only screen and (min-width: 440px) {
@media only screen and (min-width: 27.5em) {
  #header-parallax {
    #header-wrapper {
      padding: 10rem 5rem;
    }
  }
}

// @media only screen and (max-width: 439px) {
@media only screen and (max-width: 27.4375em) {
  #header-parallax {
    #header-wrapper {
      #header-body {
        h1 {
          font-size: 2.8rem;
          line-height: 1.2;
        }
        i {
          display: none;
        }
      }
    }
  }
}

/* &curve */
#curve {
  width: 100%;
  height: 2rem;
  display: block;
  margin-top: -2rem;
  position: relative;
}
// @media only screen and (min-width: 560px) {
@media only screen and (min-width: 35em) {
  #curve {
    height: 4rem;
    margin-top: -4rem;
  }
}
