<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% assets "home_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
  </head>
  <body>
    <h1><a href="{{ url_for("welcome") }}">Flask Static Blog</a></h1
    <div class="content-section">
      {% block content %}
      <p>Default Content</p>
      {% endblock content %}
    </div>
  </body>
</html>
